@font-face {
    font-family: mandalore;
    src: url('fonts/mandalorehalfital.ttf');
}

@font-face {
    font-family: comfortaa;
    src: url('fonts/Comfortaa-Regular.ttf');
}

a:hover {
    color: #e2c41e !important;
}

body {
    color: #fff;
    background-color: #000;
    background-image: url("/img/background.gif");
    font-size: 1.1em;
    font-family: comfortaa;
}

.headline {
    font-family: mandalore;
    font-size: 5em;
    margin: 0;
    color: #3d8ad8;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #e2c41e;
}

.tagline {
    color: #e2c41e;
}

.indent {
    text-indent: 40px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.logo {
    max-width: 400px;
}

.little-logo {
    max-width: 75px;
}

.image-adjust {
    max-width: 200px;
    max-height: 200px;
}

/* Grid CSS */

main>.container {
    padding: 60px 15px 0;
    margin-bottom: 3rem;

}

main>.container-fluid {
    padding: 60px 15px 0;
    margin-bottom: 3rem;

}

.sticky-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.col-blue {
    background-color: #3d8ad8;
}

.col-yellow {
    background-color: #e2c41e;
}

.col-pink {
    background-color: #bc0b6c;
}

.minheight {
    min-height: 50vh;
}

.border {
    border-color: #bc0b6c !important;
}